<!-- 201935231 컴퓨터공학과 김용우 -->

<!doctype html>
<html>
    <head>
        <title>Web DB</title>
        <meta charset="utf-8">
        <link rel="icon" href="data:,">
    </head>
    <body>
        <h1>Author Page</h1>
        <h1><a href="/">Home</a></h1> <ol type="1">
        <% var i = 0
        while(i < list.length)
        { %>
            <li><a href="/page/<%=list[i].id%>">
                <%=list[i].name%> <!-- Author, Customer -->
                <!-- Topic %=list[i].title%> Topic -->
            </a></li>
            <% i += 1 } %>
        </ol>
        <%- control%>
        <%- body%>
    </body>
</html>