<!-- 201935231 컴퓨터공학과 김용우 -->

<div class="container">
	<h2>회원 가입</h2>
	<form action="/auth/join_process" method="post" >
		<div class="mb-3">
			<label class="form-label" for="id">아이디</label>
			<input class="form-control" type="text" name="id" id="id" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="pwd">비밀번호</label>
			<input class="form-control" type="password" name="pwd" id="pwd" style="width:300px;"/>
		</div>
		<div class="mb-3">
			<label class="form-label" for="pwd">이름</label>
			<input class="form-control" type="text" name="name" id="name" style="width:300px;"/>
		</div>
		<div class="mb-3">
			<label class="form-label" for="pwd">지역</label>
			<input class="form-control" type="text" name="address" id="address" style="width:300px;"/>
		</div>
		<div class="mb-3">
			<label class="form-label" for="pwd">전화번호</label>
			<input class="form-control" type="text" name="tel" id="tel" style="width:300px;"/>
		</div>
		<div class="mb-3">
			<label class="form-label" for="pwd">생일</label>
			<input class="form-control" type="text" name="birth" id="birth" style="width:300px;"/>
		</div>
    <button class="btn btn-outline-primary btn-sm" type="submit">회원 가입</button>
  </form>
</div>

